{% extends 'layout.html' %}

{% load static %}

{% block content %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/myScript.js' %}"></script>

<div class="contact-container my-4 text-center ">
    <h1>Acerca de mi</h1>
    <h3>Soy estudiante de programación de la Universidad Tecnológica Nacional (UTN). También tengo experiencia en Bases de Datos y desarrollo de software en diversos lenguajes. Mis principales habilidades son la programación orientada a objetos.</h3>
    <a href="" class="btn btn-primary custom-btn ">Contacto</a>
</div>

{% endblock %}