{% extends 'layout.html' %}

{% block content %}


{% load static %}


            

<header class="row">
    

    <div class="col-md-8">
        <h1>Soy Facundo Moriconi</h1>
        <h3>desarrollador de Python</h3>
    </div>

</header>

<div class="row my-4 text-center">

    <h3> Mis Proyectos </h3>

    {% for project in projects %}
    <div class="card bg-black card-project" style="width: 18rem;">
        <h2>{{project.title}}</h2>
                <p>{{project.description}}</p>
        <img src="{{project.image.url}}" alt="{{project.title}}" class="img-top img-fluid">
        {% if project.url %}
                
        <a href="{{project.url}}">{{project.url}}</a>
        
        {% endif %}

        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>


    {% endfor %}
            
    {% endblock %}
    

</div>
